#### Datathon 2022 - EPI Gij√≥n

In [176]:
## Imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [177]:
## Parsing CSV data

df_amazon = pd.read_csv('data/Amazon.csv')
df_Email = pd.read_csv('data/Email.csv')
df_Facebook = pd.read_csv('data/Facebook.csv')
df_Google = pd.read_csv('data/Google.csv')
df_Instagram = pd.read_csv('data/Instagram.csv')
df_Radio = pd.read_csv('data/Radio.csv')
df_TV = pd.read_csv('data/TV.csv')
df_Youtube = pd.read_csv('data/Youtube.csv')
df_Ventas = pd.read_csv('data/Ventas.CSV')

In [178]:
df_amazon.head(10)

       Date    Amazon
0  01-03-20   3408.66
1  01-04-20  36451.72
2  01-05-20  22675.68
3  01-06-20  25839.62
4  01-07-20  11967.21
5  01-08-20  21218.74
6  01-09-20  15664.69
7  01-10-20  13259.18
8  01-11-20  18210.74
9  01-12-20  24237.72

In [179]:
# Sumar quincenas de Faceboook

df_Facebook['Facebook'] = df_Facebook['Facebook 1 quincena'] + df_Facebook['Facebook 2 quincena']

df_Facebook.drop(columns='Facebook 1 quincena', inplace=True)
df_Facebook.drop(columns='Facebook 2 quincena', inplace=True)
df_Facebook.head(10)

       Date  Facebook
0  01-03-20      0.00
1  01-04-20  73571.23
2  01-05-20      0.00
3  01-06-20      0.00
4  01-07-20      0.00
5  01-08-20      0.00
6  01-09-20      0.00
7  01-10-20      0.00
8  01-11-20      0.00
9  01-12-20      0.00

In [180]:
## Join the data in a single dataframe

df = df_Email.merge(df_amazon)
df = df.merge(df_Facebook)
df = df.merge(df_Google)
df = df.merge(df_Instagram)
df = df.merge(df_Radio)
df = df.merge(df_TV)
df = df.merge(df_Youtube)
df = df.merge(df_Ventas)
df

,Date,Email,Amazon,Facebook,Google,Instagram,Radio,TV,Youtube,Ventas_Videojuegos
0,01-03-20,9816.14,3408.66,0.00,87651.96,51433.00,54323.04,192879.88,26351.22,54674.0
1,01-04-20,15376.08,36451.72,73571.23,86227.48,58672.00,19629.42,187855.38,18234.10,39718.0
2,01-05-20,12172.60,22675.68,0.00,59242.81,42389.00,0.00,176700.73,20097.46,36324.0
3,01-06-20,10288.04,25839.62,0.00,64744.28,33554.00,0.00,132720.68,23265.98,34531.0
4,01-07-20,5420.80,11967.21,0.00,12373.94,43301.00,0.00,115743.77,16089.81,33185.0
5,01-08-20,7438.48,21218.74,0.00,43596.36,37430.00,14689.14,97270.92,0.00,28104.0
6,01-09-20,9093.15,15664.69,0.00,23613.79,37050.00,634.98,45873.36,0.00,35338.0
7,01-10-20,6264.78,13259.18,0.00,17414.19,25430.01,0.00,81215.18,0.00,37413.0
8,01-11-20,13470.34,18210.74,0.00,40224.22,47934.04,0.00,140837.72,0.00,36408.0
9,01-12-20,8482.10,24237.72,0.00,17866.46,54630.52,0.00,110205.64,0.00,32631.0
10,01-01-21,10865.80,26430.10,0.00,8750.84,36908.02,0.00,103126.42,0.00,38847.0
11,01-02-21,14870.90,25597.21,0.00,14122.50,40036.21,0.00,130672.03,0.00,51062.0
12,01-03-21,17856.58,30335.92,0.00,37742.80,36218.14,0.00,170855.66,0.00,54978.0
13,01-04-21,20373.38,31691.05,0.00,33540.66,38941.94,0.00,224960.31,0.00,43480.0
14,01-05-21,25190.69,38107.93,0.00,37424.70,30818.13,0.00,137130.44,0.00,46174.0
15,01-06-21,25682.26,30446.02,0.00,33326.02,28712.84,0.00,163082.38,0.00,38435.0
16,01-07-21,20568.49,46470.05,0.00,32543.48,40940.04,0.00,182995.21,55130.63,34642.0
17,01-08-21,49999.99,75984.34,0.00,25280.84,35576.72,0.00,185587.10,47755.88,30325.0
18,01-09-21,16750.94,71148.58,0.00,20110.84,39319.13,0.00,185955.10,21515.18,29050.0
19,01-10-21,15422.96,60017.21,0.00,20215.83,33765.11,0.00,169606.60,20050.27,32518.0
20,01-11-21,8070.71,60604.63,0.00,25394.41,34350.72,0.00,152542.39,19545.42,33301.0
21,01-12-21,6801.71,43331.08,0.00,25905.40,21183.61,0.00,176794.04,38953.84,34758.0
22,01-01-22,0.00,39008.14,0.00,38854.81,27654.25,0.00,244198.43,24184.21,NaN